__pycache__/
*.py[cod]

*.xml
*.tar
*.tar.gz

!/codeStyleSettings.xml
!/copyright/*.xml
!/fileColors.xml
!/encodings.xml
!/gradle.xml
!/runConfigurations/*.xml

!/inspectionProfiles/*.xml
/inspectionProfiles/profiles_settings.xml

!/scopes/*.xml
/scopes/scope_settings.xml

!/templateLanguages.xml
!/vcs.xml

downloaded/*.html
html/mml-contents/*.html

test/data/processor/css/*.css
test/data/processor/js/*.js
test/data/processor/mml-contents/*.html
test/data/processor/index.html
test/data/processor/start.html
